{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {#        <link rel="stylesheet">#}
        <title>{% block title %}Home page{% endblock %} - WebRM</title>

        <script src="{% static "smart_rm/jquery.min.js"%}"></script>
        <link rel="stylesheet" href="{% static "smart_rm/bootstrap-3.3.7-dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "smart_rm/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" %}">
        <script src="{% static "smart_rm/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "styles.css" %}">

    </head>
    <body >
        <div class="fon_scroll">
            <div class="container" >
                <nav class="navbar navbar-inverse" role="navigation" >
                    <a class="navbar-brand" >WebRM</a>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url "smart_rm:view_files" %}">Choose files for remove</a></li>
                            <li><a href="{% url "smart_rm:view_buckets" %}">Buckets</a></li>
                            <li><a href="{% url "smart_rm:add_bucket"%}">Add Bucket</a></li>
                        </ul>
                    </div>
                </nav>
            <div>
                {% block content %}

                {% endblock content %}
                <script type="text/javascript">
                <!--
                    $(function () {
                        $("#selall").click( function () {
                            $(".check_add").prop('checked', $("#selall").prop('checked') );
                        });
                    });

                    $(function () {
                        $("#size_checkbox").click( function () {
                            $("#size_input").prop('disabled', !$("#size_checkbox").prop('checked') );
                        });
                    });

                    $(function () {
                        $("#time_checkbox").click( function () {
                            $("#time_input").prop('disabled', !$("#time_checkbox").prop('checked') );
                        });
                    });
                //-->
                </script>
            </div>
            </div>
        </div>
    </body>
</html>