{% extends 'base.html' %}

{% block title %} New Bucket {% endblock %}

{% block content %}
    <form action="{% url "smart_rm:add_bucket"%}" method="post">
    {% csrf_token %}
{#        {{ form.as_p }}#}
        <div class="input-group add_bucket_form" >
          <span class="input-group-addon invert_button">Bucket Name</span>
          <input type="text" class="form-control add_bucket" placeholder="Name" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:"" }}" required>
{#            {{ form.name.name }}#}
        </div>
        <div class="input-group add_bucket_form" >
          <span class="input-group-addon invert_button">Bucket Path</span>
          <input type="text" class="form-control add_bucket" placeholder="Path" name="{{ form.bucket_path.name }}" value="{{ form.bucket_path.value|default_if_none:"" }}" required>
        </div>
        <div class="input-group add_bucket_form" >
          <span class="input-group-addon invert_button">Max Size</span>
          <input type="text" class="form-control add_bucket" placeholder="Size" name="{{ form.max_size.name }}" value="{{ form.max_size.value }}" required pattern="\d{0,100}">
        </div>
        <div class="input-group add_bucket_form">
            <span class="input-group-addon invert_button">Time for clean</span>
            <input type="text" class="form-control add_bucket" placeholder="Time for clean" name="{{ form.time_files_storage.name }}" value="{{ form.time_files_storage.value }}" pattern="\d{0,100}">
        </div>
        <div class="input-group add_bucket_form">
            <span class="input-group-addon invert_button">Size for clean</span>
            <input type="text" class="form-control add_bucket" placeholder="Size for clean" name="{{ form.size_files_storage.name }}" value="{{ form.size_files_storage.value }}" pattern="\d{0,100}">
        </div>
        {% if form.errors %}
        <div class="add_bucket_form">
            <div>Errors:</div>
            {{ form.errors }}
        </div>
        {% endif %}
        <div class="input-group add_bucket_form text-center">
            <input type="submit" value="Add Bucket" class="btn invert_button">
        </div>
    </form>
{% endblock %}