{% extends "base.html" %}

{% block title %} Tasks {% endblock %}

{% block content %}

    {% if tasks %}
        <h1>Tasks</h1>
        <table width="100%" class="table table-panel table-hover">
            <colgroup>
                <col width="33%">
                <col width="33%">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Status</th>
                    <th>Files</th>
                </tr>
            </thead>
            {% for task in tasks %}
                <tr>
                    <th>
                        {{ task.action }}
                    </th>
                    <th>
                        {{ task.status }}
                    </th>
                    <th>
                        {% if task.action == "Remove" or task.action == "Restore"%}
                            <form action="{% url "smart_rm:task_result" task.id %}" method="post">
                            {% csrf_token %}
                                <button class="btn btn-default" type="submit">Files</button>
                            </form>
                        {% endif %}
                    </th>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <label>No Tasks</label>
    {% endif %}
{% endblock %}