{% extends 'base.html' %}

{% block title %}Delete Bucket{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div align="center" class="delete_bucket">
        <p>Are you sure you want to delete "{{ bucketmodel.name }}"?</p>
        <p>Path: {{ bucketmodel.bucket_path }}</p>
        <input type="submit" value="Confirm" class="btn btn-danger delete_confirm"/>
    </div>

</form>
{% endblock  %}