{% extends 'base.html' %}

{% block title %}Bucket Contents{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-1">
            <a href="{% url "smart_rm:tasks" bucket_id %}" class="btn btn-default">Tasks</a>
        </div>
        <div class="col-lg-11">
            <form class="form-inline" action="{% url "smart_rm:clean_bucket" bucket_id%}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="time_flag" value="time_flag" id="time_checkbox">
                    </span>
                    <input id="time_input" disabled type="text" class="form-control" pattern="\d{0,15}" name="time" placeholder="time" style="width: 70px;">
                </div>
                <div class="input-group" >
                <span class="input-group-addon">
                    <input type="checkbox" name="size_flag" value="size_flag" id="size_checkbox">
                </span>
                <input id="size_input" disabled type="text" class="form-control" pattern="\d{0,15}" name="size" placeholder="size">
            </div>

                <button type="submit" class="btn btn-default" >Clean</button>
            </form>
        </div>
    </div>
    <div class="btn-toolbar form-inline">

        <div class="btn-group form-inline">

        </div>

    </div>



    {% if bucket_contents|length %}
    <form action="{% url "smart_rm:restore_files" %}" method="post">
        <input type="hidden" name="bucket_id" value="{{ bucket_id }}">
        {% csrf_token %}
        <table class="table table-panel table-hover">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th><input type="checkbox"  id="selall" value="1"  class="checkbox"></th>
                    <th>File</th>
                    <th>Real path</th>
                    <th>Deletion date</th>
                    <th>Size</th>
                </tr>
            </thead>
            {% for file in bucket_contents|dictsort:"NameInBucket" %}
                <tr>
                    <td> <input type="checkbox" class="checkbox check_add" name="added" value="{{ file.NameInBucket }}"></td>
                    <td> {{ file.NameInBucket }}</td>
                    <td> {{ file.Path }}</td>
                    <td> {{ file.DeletionDate }}</td>
                    <td> {{ file.Size }}</td>
                </tr>
            {% endfor %}
        </table>
        <div align="center">
            <input type="submit" value="Restore files" class="btn btn-default invert_button">
        </div>
    </form>
    {% else %}
        <div class="no_actions" align="center"> Empty bucket</div>
    {% endif %}

{% endblock %}