{% extends 'base.html' %}

{% block title %}Task result{% endblock %}

{% block content %}
    <h1>Task Result</h1>
    <br>

    {% if files|length > errors_count %}
         <h2>
             {% if task.action == "Remove" %}
                 Removed
             {% elif task.action == "Restore" %}
                 Restored
             {% endif %}
         </h2>

        {% for file in files %}
            {% if not file.error %}
                <p>{{ file.file_path }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if errors_count %}
        <h2>Errors</h2>
        <table class="table table-panel table-hover">
            <colgroup>
                <col width="50%">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>File</th>
                    <th>Error</th>
                </tr>
            </thead>

            {% for file in files %}
                {% if file.error %}
                    <tr>
                        <td>{{ file.file_path }}</td>
                        <td>{{ file.error }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
    {% if task.action != "Remove" and task.action != "Restore" %}
        <label>{{ task.action }}</label>
    {% elif  not files|length  and not errors_count%}
        <label>No Tasks</label>
    {% endif %}

{% endblock content %}