
{% extends 'base.html' %}

{% block title %} Bucket {% endblock title %}

{% block content %}
    {% for dir in directories %}
        <a class="path_link" href="{% url 'smart_rm:view_files' dir.path %}">
            {{ dir.name }} >
        </a>
    {% endfor %}
    <br>
    {% if files|length %}
    <form action="{% url "smart_rm:remove_files"%}" method="post">
    <input type="hidden" name="current_dir" value="{{ current_dir }}">
        {% csrf_token %}
        <div class="btn-group form-inline" style="width: 100%">
            <select name="bucket_id" class="form-control" class="remove_option">
                {% for bucket in buckets|dictsort:"name" %}
                    <option value="{{ bucket.id }}">{{ bucket.name }}</option>
                {% endfor %}
            </select>
            <input type="checkbox" name="recursive" value="true" id="recursive" class="remove_option"><label for="recursive">recursive</label>
            <input type="checkbox" name="dir" value="true" id="directories" class="remove_option"><label for="directories">directories</label>
            <input type="checkbox" name="force" value="force" id="force" class="remove_option"><label for="force" >force</label>
            <label class="remove_option">regex</label><input type="text" class="form-control" name="regex">
        </div>
        <table class="table" >
            <colgroup>
                <col>
                <col width="98%">
            </colgroup>
            <thead>
                <tr>
                    <th><input type="checkbox"  id="selall" value="1"  class="checkbox"></th>
                    <th>File</th>
                </tr>
            </thead>
            {% for file in files|dictsort:"name" %}
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox check_add" name="added[]" value="{{ file.path }}">
                    </td>
                    <td>
                        {% if file.type == "directory"%}
                            {% if file.read_ok%}
                                <a href="{% url 'smart_rm:view_files' file.path %}">
                                    <div>
                                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                        {{ file.name }}
                                    </div>
                                </a>
                            {% else %}
                                <div>
                                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                                    {{ file.name }}
                                </div>
                            {% endif %}
                        {% else %}
                        <div>
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            {{ file.name }}
                        </div>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div align="center">
            <input type="submit" value="Remove" class="btn invert_button" >
        </div>

    </form>
    {% else %}
        <div class="no_actions" align="center"> Empty directory</div>
    {% endif %}
{% endblock content %}



