
{% extends 'base.html' %}

{% block title %} Bucket {% endblock title %}

{% block content %}
    <table class="table table-panel table-hover">
        <colgroup>
            <col width="10%">
            <col>
            <col width="8%">
            <col width="8%">
            <col width="8%">

        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th class="text-nowrap">Clean by time</th>
                <th class="text-nowrap">Clean by size</th>
                <th class="text-nowrap">Delete Bucket</th>
            </tr>
        </thead>
        {% for bucket in buckets %}
            <tr>
                <td><a href="{% url "smart_rm:bucket_files" bucket.id %}">{{ bucket.name }}</a></td>
                <td>{{ bucket.bucket_path }}</td>
                <td>{{ bucket.time_files_storage }}</td>
                <td>{{ bucket.size_files_storage }}</td>
                <td>
                    <form action="{% url "smart_rm:del_bucket" bucket.id %} method='post' ">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" >Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}