
body {
    background-image: url("background.jpg");
}
.fon_scroll{
    background-attachment: fixed;
    background-image: url("background.jpg");
    background-repeat:no-repeat;
}
.container
{
    padding-bottom: 4%;
    font-size: 15px;
    font-style: normal;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #080808;
}
a{
    color: darkslateblue;
}

.path_link{
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: #0f0f0f;
}

.glyphicon-file{
    color: #8c8c8c;
}
.glyphicon-folder-close{
    color: #f0ad4e;
}
.glyphicon-folder-open{
    color: #f0ad4e;
}

.invert_button{
    width: 15%;
    background: black;
    color: whitesmoke;
}

.no_actions{
    font-size: 70px;
    font-weight: bold;
    color: black;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-style: italic;
    margin-top: 18%;
}

/*.form-control{*/
    /*width: 15% !important;*/
/*}*/

.remove_option{
    margin-left:4% !important;
    margin-right: 3px !important;
}

/*.form-inline{*/
    /*width: 100%;*/
/*}*/
/*******************************************************************************************************/


.add_bucket_form{
    width: 60%;
    margin: auto;
    padding-top: 2%;

}

span.input-group-addon{
    width: 30%;
}

input.add_bucket{
    width: 100% !important;
}

/*******************************************************************************************************/

.delete_bucket{
    font-size: 25px;
    font-weight: bold;
    color: black;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-style: italic;
    margin-top: 18%;
}

.delete_confirm{
    font-size: 100%;
    margin-top:4%;
}